In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df=pd.read_csv("train.csv",encoding="utf-8")

In [7]:
df.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [8]:
df.corr(numeric_only=True)

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
User_ID,1.000000,-0.023971,0.020443,0.003825,0.001529,0.003419,0.004716
Occupation,-0.023971,1.000000,0.024280,-0.007618,-0.000384,0.013263,0.020833
Marital_Status,0.020443,0.024280,1.000000,0.019888,0.015138,0.019473,-0.000463
Product_Category_1,0.003825,-0.007618,0.019888,1.000000,0.540583,0.229678,-0.343703
Product_Category_2,0.001529,-0.000384,0.015138,0.540583,1.000000,0.543649,-0.209918
Product_Category_3,0.003419,0.013263,0.019473,0.229678,0.543649,1.000000,-0.022006
Purchase,0.004716,0.020833,-0.000463,-0.343703,-0.209918,-0.022006,1.000000

In [9]:
df.drop(["User_ID"],axis=1,inplace=True)

In [10]:
df.drop(["Product_ID"],axis=1,inplace=True)

In [11]:
df

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...
550063,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,F,55+,1,C,2,0,20,NaN,NaN,365
550067,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [12]:
from sklearn.preprocessing import LabelEncoder
model=LabelEncoder()
df["Gender"]=model.fit_transform(df["Gender"])
df["City_Category"]=model.fit_transform(df['City_Category'])
df["Stay_In_Current_City_Years"]=model.fit_transform(df['Stay_In_Current_City_Years'])
df['Marital_Status']=model.fit_transform(df['Marital_Status'])

In [13]:
df.head(5)

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,0-17,10,0,2,0,3,NaN,NaN,8370
1,0,0-17,10,0,2,0,1,6.0,14.0,15200
2,0,0-17,10,0,2,0,12,NaN,NaN,1422
3,0,0-17,10,0,2,0,12,14.0,NaN,1057
4,1,55+,16,2,4,0,8,NaN,NaN,7969

In [14]:
df['Product_Category_2'].fillna(df['Product_Category_2'].mean(),inplace=True)

/tmp/ipykernel_41466/3423733.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product_Category_2'].fillna(df['Product_Category_2'].mean(),inplace=True)

In [15]:
df["Product_Category_3"].fillna(df["Product_Category_3"].mean(),inplace=True)

/tmp/ipykernel_41466/307182009.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Product_Category_3"].fillna(df["Product_Category_3"].mean(),inplace=True)

In [16]:
df.head(5)

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,0-17,10,0,2,0,3,9.842329,12.668243,8370
1,0,0-17,10,0,2,0,1,6.000000,14.000000,15200
2,0,0-17,10,0,2,0,12,9.842329,12.668243,1422
3,0,0-17,10,0,2,0,12,14.000000,12.668243,1057
4,1,55+,16,2,4,0,8,9.842329,12.668243,7969

In [17]:
def convert_age_to_number(age_str):
    if "-" in age_str:
        start, end = map(int, age_str.split("-"))
        return (start + end/2) 
    elif "+" in age_str:
        return int(age_str[:-1])  
    else:
        return int(age_str) 

df["Age"] = df["Age"].apply(convert_age_to_number)

In [18]:
df.head(10)

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,8.5,10,0,2,0,3,9.842329,12.668243,8370
1,0,8.5,10,0,2,0,1,6.000000,14.000000,15200
2,0,8.5,10,0,2,0,12,9.842329,12.668243,1422
3,0,8.5,10,0,2,0,12,14.000000,12.668243,1057
4,1,55.0,16,2,4,0,8,9.842329,12.668243,7969
5,1,43.5,15,0,3,0,1,2.000000,12.668243,15227
6,1,71.0,7,1,2,1,1,8.000000,17.000000,19215
7,1,71.0,7,1,2,1,1,15.000000,12.668243,15854
8,1,71.0,7,1,2,1,1,16.000000,12.668243,15686
9,1,43.5,20,0,1,1,8,9.842329,12.668243,7871

In [19]:
df.corr()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
Gender,1.000000,-0.004388,0.117291,-0.004515,0.014660,-0.011603,-0.045594,-0.015300,0.014978,0.060346
Age,-0.004388,1.000000,0.081517,0.081696,-0.007250,0.314428,0.053283,0.043288,0.030917,0.016877
Occupation,0.117291,0.081517,1.000000,0.034479,0.030005,0.024280,-0.007618,-0.000317,0.007265,0.020833
City_Category,-0.004515,0.081696,0.034479,1.000000,0.019946,0.039790,-0.014364,-0.009777,-0.001292,0.061914
Stay_In_Current_City_Years,0.014660,-0.007250,0.030005,0.019946,1.000000,-0.012819,-0.004213,-0.001368,0.001148,0.005422
Marital_Status,-0.011603,0.314428,0.024280,0.039790,-0.012819,1.000000,0.019888,0.012507,0.010695,-0.000463
Product_Category_1,-0.045594,0.053283,-0.007618,-0.014364,-0.004213,0.019888,1.000000,0.373686,0.082711,-0.343703
Product_Category_2,-0.015300,0.043288,-0.000317,-0.009777,-0.001368,0.012507,0.373686,1.000000,0.320195,-0.179309
Product_Category_3,0.014978,0.030917,0.007265,-0.001292,0.001148,0.010695,0.082711,0.320195,1.000000,-0.012261
Purchase,0.060346,0.016877,0.020833,0.061914,0.005422,-0.000463,-0.343703,-0.179309,-0.012261,1.000000

In [20]:
y=df["Purchase"]
x=df.drop(["Purchase"],axis=1)

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1234)

In [22]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [23]:
model.coef_

array([ 509.17248248,   10.78499534,    7.90135501,  361.36896709,
          7.88759114,  -57.60962473, -406.37241195,  -84.8658829 ,
         78.89852404])

In [24]:
prediction=model.predict(x_test)

In [25]:
from sklearn import metrics
metrics.mean_absolute_error(y_test,prediction)

3584.439053341017

In [26]:
metrics.r2_score(y_test,prediction)

0.1294706447874141

In [27]:
import xgboost as xg

In [28]:
model1=xg.XGBRegressor()
model1.fit(x_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [29]:
from sklearn import metrics

In [30]:
pred=model1.predict(x_test)

In [31]:
metrics.r2_score(y_test,pred)

0.6718345571882458

In [32]:
metrics.mean_squared_error(y_test,pred)

8242704.780206621

In [33]:
metrics.mean_absolute_error(y_test,pred)

2140.520022187193

In [34]:
pred

array([7678.458 , 6865.4614, 6215.3804, ..., 7726.0713, 4227.878 ,
       8369.279 ], dtype=float32)

In [35]:
x

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,0,8.5,10,0,2,0,3,9.842329,12.668243
1,0,8.5,10,0,2,0,1,6.000000,14.000000
2,0,8.5,10,0,2,0,12,9.842329,12.668243
3,0,8.5,10,0,2,0,12,14.000000,12.668243
4,1,55.0,16,2,4,0,8,9.842329,12.668243
...,...,...,...,...,...,...,...,...,...
550063,1,78.5,13,1,1,1,20,9.842329,12.668243
550064,0,43.5,1,2,3,0,20,9.842329,12.668243
550065,0,43.5,15,1,4,1,20,9.842329,12.668243
550066,0,55.0,1,2,2,0,20,9.842329,12.668243
550067,0,71.0,0,1,4,1,20,9.842329,12.668243

In [36]:
arr=[0,8.5,10,0,2,0,1,6,14]
model1.predict([arr])

array([14900.508], dtype=float32)

In [110]:
df

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,8.5,10,0,2,0,3,9.842329,12.668243,8370
1,0,8.5,10,0,2,0,1,6.000000,14.000000,15200
2,0,8.5,10,0,2,0,12,9.842329,12.668243,1422
3,0,8.5,10,0,2,0,12,14.000000,12.668243,1057
4,1,55.0,16,2,4,0,8,9.842329,12.668243,7969
...,...,...,...,...,...,...,...,...,...,...
550063,1,78.5,13,1,1,1,20,9.842329,12.668243,368
550064,0,43.5,1,2,3,0,20,9.842329,12.668243,371
550065,0,43.5,15,1,4,1,20,9.842329,12.668243,137
550066,0,55.0,1,2,2,0,20,9.842329,12.668243,365
550067,0,71.0,0,1,4,1,20,9.842329,12.668243,490

In [111]:
arr=[1,43.5,1,0,2,1,8,13,12.6]
model.predict([arr])

/home/abhimanyu/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([7548.64716855])

In [112]:
x_test

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
232406,1,43.5,1,0,2,1,8,13.000000,12.668243
537762,0,78.5,6,2,1,1,5,14.000000,12.668243
179641,1,43.5,4,1,2,0,5,9.842329,12.668243
377484,1,71.0,0,0,1,1,8,17.000000,12.668243
101083,1,58.5,20,2,0,1,15,9.842329,12.668243
...,...,...,...,...,...,...,...,...,...
408793,0,30.5,4,0,4,0,8,17.000000,12.668243
337499,0,71.0,1,1,2,0,5,9.842329,12.668243
124077,0,58.5,0,1,4,0,8,16.000000,12.668243
108390,1,58.5,1,0,1,1,11,9.842329,12.668243
341284,1,71.0,2,2,4,0,8,16.000000,12.668243

In [113]:
from pickle5 import pickle

In [118]:
with open("my_pickles","wb") as f1:
    pickle.dump(model1,f1)

In [37]:
x_test

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
232406,1,43.5,1,0,2,1,8,13.000000,12.668243
537762,0,78.5,6,2,1,1,5,14.000000,12.668243
179641,1,43.5,4,1,2,0,5,9.842329,12.668243
377484,1,71.0,0,0,1,1,8,17.000000,12.668243
101083,1,58.5,20,2,0,1,15,9.842329,12.668243
...,...,...,...,...,...,...,...,...,...
408793,0,30.5,4,0,4,0,8,17.000000,12.668243
337499,0,71.0,1,1,2,0,5,9.842329,12.668243
124077,0,58.5,0,1,4,0,8,16.000000,12.668243
108390,1,58.5,1,0,1,1,11,9.842329,12.668243
341284,1,71.0,2,2,4,0,8,16.000000,12.668243

In [38]:
df.iloc[232406]

Gender                           1.000000
Age                             43.500000
Occupation                       1.000000
City_Category                    0.000000
Stay_In_Current_City_Years       2.000000
Marital_Status                   1.000000
Product_Category_1               8.000000
Product_Category_2              13.000000
Product_Category_3              12.668243
Purchase                      7860.000000
Name: 232406, dtype: float64